@CHARSET "UTF-8";

div.select1.string.enabled.readwrite.optional.valid {
	margin-bottom: 0px !important;
}

div.select1.string.enabled.readwrite.optional.valid > select.value {
	width: 120px !important;
}

div.fbc_header_text > span > div.fbc_button_area > span.trigger {
	margin-left: 0px !important;
	width: 42px !important;
}

div.fbc_header_text > span > div.fbc_button_area {
	margin-top: 5px !important;
	margin-bottom: 2px !important;
	margin-right: 2px !important;
	width: 52px !important;
	height: 31px !important;
	float: right !important;
}

th.repeat-header {
	text-align: left !important;
}

td > div.fbc_button_area > input {
	height: auto !important;
	width: auto !important;
}

div.group > div.fbc_button_area > span.trigger {
	float: left !important;
}

td > div.fbc_button_area {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.hiddenInput {
	display: none !important;
}

div.textarea textarea.value {
	width: 600px !important; 
}

div.idegaCell {
	width: 296px !important;
}

div.idegaCell textarea.idegaTextarea {
	width: 100% !important;
}

div.idegaCell span.idegaOutput {
	width: 100% !important;
	word-wrap: break-word;
}

div.idegaCell input.idegaTextarea {
	width: 100% !important;
}