@CHARSET "UTF-8";

.fileUploadViewerUploadedFilesContainerStyle, .fileUploadButtonsContainerStyle{
			display:none!important;
}

.row-check, .components-div{
	display:none;
}
div.select1 > span, div.select > span.condition-selector{
	width:auto;
} 
.conditions-div .selector-item, .conditions-div .input {
	padding:0.2em;
}
.hiding-element ~ *, .hiding-element {
	display:none;
}
.textarea > textarea.big-area{
	width:100%!important;
	height:20.5em;
}
p{
	text-align:justify;
}
/*for pdf */
.lease-conditions {
	text-align:left;
	display:block;
	width:600px;
}
/*--------------*/

